page-todo-detail {

    ion-label {
        color: color( $colors, primary ) !important;
        font-weight: bold;
    }
    ion-datetime {
        .datetime-placeholder {
            white-space: normal;
        }
        padding-left: 0.5em !important;
    }

    div.scroll-content {
        background-color : #efefef;
    }
    div.ql-editor {
        background-color : white;
    }

    .bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
    color: #ccc;
}

.bar-button-default-ios, .bar-button-default-md, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #383838;
    background-color: transparent;
}

.item-ios-dark, .item-divider-ios-dark, .item-divider-md-dark  {
    color: #383838;
    background-color: #f5f6fa;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0 0 0.55px;
}
.toolbar-background-ios, .toolbar-background-md {
    background: #f5f6fa;
}

.toolbar-title-ios, .toolbar-title-md {
    text-align: left;
}

.toolbar-title-ios, .toolbar-title-md {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
    color: #383838;
}

}
