page-network {
ion-app.ios {
    font-family:  'Montserrat', sans-serif !important ; 
    font-size: 1.4rem;
    background-color: #fff;
}
.toolbar-title-ios, .toolbar-title-md {
    font-weight:500;
    font-family:  'Montserrat', sans-serif !important ; 
    color: #383838;
}

.bar-button-default-ios, .bar-button-default-md, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #383838;
    background-color: transparent;
}

.toolbar-background-ios, .toolbar-background-md {
    background: #f5f6fa;
}
.item-ios-dark, .item-divider-ios-dark, .item-divider-md-dark  {
    color: #383838;
    background-color: #f5f6fa;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
        border-width: 0 0 0.55px;
}

.toolbar-title-ios {
    text-align: left;
    
}
.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
    color: #ccc;
}

.list-md[inset] {
    margin: 0px;
    border-radius: 2px;
}

.item-md.item-block .item-inner {
    padding-right: 15px;
    border-bottom: 1px solid #dedede;
    padding-left: 15px;
}

.item-md {
    padding-left: 0px;
    }

}
