my-activities {

.content-ios, .content-md {
    background: url(../assets/imgs/Learning-UI-graphics/top-nav-background.png) no-repeat top center #fff;
    background-size: 100% 21%;
    background-position-y: -35px;
}

div.scroll-content {
    background-color: transparent;
}
    .no-activities-container{
        text-align: center;
        margin-top: 20%;
    }

    .activity-title, .activity-description {
        line-height: 1.5em;
        white-space: normal;
        color: black;
    }

    .activity-title {
        font-weight: bold;
    }

    ion-list[inset] {
        margin: 0 !important;
    }

    .activity-image {
        border: solid thin lightgrey;
        min-width:  35vmin;
        min-height: 35vmin;
        max-width:  35vmin;
        max-height: 35vmin;
        width:     auto !important;
        height:    auto !important;
    }

    .activity-info {
        font-size: smaller;
        text-align: center;
    }

    .activity-info__location {
        color: black !important;
    }

    .segment-md .segment-button.activated,
    .segment-md .segment-button.segment-activated {
        border-color: color( $colors, secondary );
    }
.item-md {background: transparent !important;}
.item-ios {padding:0px;background-color: transparent;}
.item-ios.item-block .item-inner { padding-right: 0px;}
ion-app.ios{
    font-family:  'Montserrat', sans-serif !important; 
    font-size: 1.4rem;
    background-color: #fff;
}
.toolbar-ios {
    padding: 4px;
    min-height:46px;
}

.item-ios p {color: #444445;}

.toolbar-background {
    background:transparent !important;
    }

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0px;
}

.circle-pic{border-radius: 10px;}
 .ion-md-calendar:before {
    color: #12c3f4;
}
.item-ios ion-thumbnail[item-start] {
    margin: 8px 16px 8px 15px;
}
.item-ios [item-end] { margin: 8px 8px 8px 0px;}
.card-ios, .card-md {
    margin: 12px 0px 0px 0px;
    border-radius: 0px;
    width: calc(100%);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.badge-ios-danger {
    color: #fff;
    background-color:#ffc125;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before { 
    height: 0px !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
   
}

}
